<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Covid 2020</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <meta name="keywords" content="Corona, Covid, Corona India, Covid India, pendamic, Theworkboxsolutions" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" ng-app="myApp" ng-controller="myCtrl">

        <!-- Sidebar -->
        <ul ng-if="!isCountrySelected" class="d-none navbar-nav sidebar-dark accordion mb-80" ng-class="isCountrySelected ? 'w-0 d-none' : 'd-block'" id="accordionSidebar">

            <!-- Sidebar - Brand -->

            <div class="top-menu row m-0">
                <div class="options col-3 border" ng-click="changeArea(indiaData)">
                    India
                </div>
                <div class="options col-3 border" ng-click="changeArea('World')">World</div>
                <div class="options col-3 border" ng-click="showOnlyNews()">News</div>
                <div class="options col-3 border" ng-click="showOnlyMyths()">Myths</div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->

            <label class="position-relative w-100">
                <input class="labelText w-100" placeholder="Search..." ng-model="searchText">
                <span ng-if="searchText.length > 0" class="position-absolute clearBtn"
                    ng-click="clearText()">Clear</span>
            </label>

            <li class="nav-item active">
                <a class="p-0 labelText">
                    <table class="w-100">
                        <tr class="text-center" ng-init="orderby='-cases'">
                            <th class="w-50 border"> Country</th>
                            <th class="w-25 border" ng-click="orderby === 'cases' ? (orderby='-cases') : (orderby='cases')">Cases</th>
                            <th class="w-25 border" ng-click="orderby === 'deaths' ? (orderby='-deaths') : (orderby='deaths')"> Deaths
                            </th>
                        </tr>
                        <tr class="text-center" ng-repeat="countryData in countryWise | filter:searchText | orderBy: orderby" ng-click="changeArea(countryData)">
                            <td class="w-50 border"> <span class="">
                                    <img class="flag" ng-src="{{countryData.countryInfo.flag}}">{{countryData.country}}
                                </span></td>
                            <td class="w-25 border"><span class="text-dark">{{countryData.cases}}</span></td>
                            <td class="w-25 border"> <span class="text-danger">{{countryData.deaths}}</span></td>
                        </tr>
                    </table>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="" class="d-lg-block w-100 mb-80" ng-class="isCountrySelected ? '' : 'w-0 d-none'">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between row">
                        <div id="logo" class="col-12">
                            <span ng-click="showCountryList()" class="d-inline-block mr-3 menuIcon">|||</span>
                            <!-- <a href="http://www.theworkboxsolutions.com/" class="logo-image">
                                <img height="30px" src="./css/logon-new-small.png" alt="workbox-logo" title="" />
                            </a>
                            <small class="d-inline-block"><a href="http://www.theworkboxsolutions.com/"
                                    class="scrollto"><span>T</span>he
                                    <span>W</span>orkbox
                                    <span>S</span>olutions</a></small> -->
                            <img ng-click="showEmergencyContact = true" class="callIcon" height="30px" src="./css/icons8-ringing-phone-90.png" alt="workbox-logo" title="" />

                        </div>
                        <!-- <small class="text-muted text-right fl-right">Last Updated {{worldData.statistic_taken_at}}</small> -->
                    </div>

                    <p ng-class="(headerText != '') ? 'd-block' : ''" class="mb-0 d-none">{{headerText}}</p>

                    <div ng-show="showNews" class="row d-none" ng-class="showNews? 'd-flex' : ''">
                        <div ng-repeat="news in newsList" class="col-xl-3 col-md-6 mb-4 news-container">
                            <img class="w-100 newsImage" ng-src="{{news.urlToImage}}" />
                            <div class="row mt-1">
                                <small class="col-6">Source: {{news.source.name}}</small>
                                <small class="col-6 text-right">{{news.publishedAt}}</small>
                            </div>

                            <h4>{{news.title}}</h4>
                            <p>{{news.description}}<a ng-href="{{news.url}}" target='_blank'>Read More</a></p>
                        </div>
                    </div>

                    <div ng-show="showMyths" class="d-lg-block w-100 ng-hide h-100 d-none" ng-class="showMyths? 'd-block' : ''">
                        <iframe class="w-100 h-100" id="myIframe" src="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters"></iframe>
                    </div>

                    <div ng-show="!showMyths && !showNews" class="d-none" ng-class="(!showMyths && !showNews) ? 'd-block' : ''">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4 col-sm-6" ng-repeat="data in category">
                                <div ng-class='"border-left-" + data.class' class="card shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2 text-center">
                                                <div ng-class='"text-" + data.class' class="text-xs font-weight-bold text-uppercase mb-1">
                                                    {{data.label}}</div>
                                                <div class="h3 mb-0 font-weight-bold" ng-class='"text-" + data.class'>
                                                    {{data.value}}</div>

                                                <div ng-if="data.percentage" class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                            {{data.percentage}}%</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar" ng-style="getStyle(data.percentage)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div ng-if="headerText === 'India'" class="col-lg-4">
                                <!-- <small class="text-danger" ng-if="indainStateData.length !== 0">Note: Country overall
                                    data and statewise
                                    data might vary.</small> -->
                                <table class="w-100">
                                    <tr class="text-center" ng-init="orderby='-value.cases'">
                                        <th class="w-50 border"> State (Total Cities)</th>
                                        <th class="w-25 border" ng-click="orderby === 'value.cases' ? (orderby='-value.cases') : (orderby='value.cases')">
                                            Cases</th>
                                        <th class="w-25 border" ng-click="orderby === 'value.deaths' ? (orderby='-value.deaths') : (orderby='value.deaths')">
                                            Deaths</th>
                                    </tr>
                                    <tr ng-if="indainStateData.length === 0">
                                        <td><small class="text-danger">Updating India data. Please try after
                                                sometime...</small></td>
                                    </tr>
                                    <tr class="text-center labelText" ng-click="openModal(stateData)" ng-repeat="stateData in indainStateData | orderBy: orderby">
                                        <td class="w-50 border">
                                            <a class="text-primary">{{stateData.key}}
                                                <span class="text-info">
                                                    ({{stateData.value.city.length}})
                                                </span>
                                            </a>
                                        </td>
                                        <td class="w-25 border"><span class="text-dark">{{stateData.value.cases}}</span>
                                        </td>
                                        <td class="w-25 border"> <span class="text-danger">{{stateData.value.deaths}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- India Map -->
                            <div ng-show="headerText === 'India'" class="col-lg-4" id="map-container">
                                <div class="map-legend">
                                    <div><span style="background-color: #88A4BC;"></span><small class="ml-1">0</small>
                                    </div>
                                    <div><span style="background-color: #FFD0C2;"></span><small class="ml-1">0-5</small>
                                    </div>
                                    <div><span style="background-color: #FF8A83;"></span><small class="ml-1">5-20</small>
                                    </div>
                                    <div><span style="background-color: #D65F59;"></span><small class="ml-1">20-50</small>
                                    </div>
                                    <div><span style="background-color: #C23210;"></span><small class="ml-1">50-100</small>
                                    </div>
                                    <div><span style="background-color: #991101;"></span><small class="ml-1">100+</small>
                                    </div>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="col-lg-6" ng-show="headerText==='World'">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center">
                                        <small>Country with Most</small>
                                        <div class="ml-3 form-check form-check-inline" ng-init="value = 'cases'">
                                            <input ng-change='updateBarChart(value)' ng-model="value" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="cases">
                                            <label ng-class="value === 'cases' ? 'text-primary' : ''" class="form-check-label" for="inlineRadio1">Cases</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input ng-change='updateBarChart(value)' ng-model="value" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="deaths">
                                            <label ng-class="value === 'deaths' ? 'text-primary' : ''" class="form-check-label" for="inlineRadio2">Deaths</label>
                                        </div>
                                    </div>
                                    <div class="text-center w-100">
                                        <div id="bar-chart">
                                            <canvas id="myBarChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Area Chart -->
                            <div class="col-lg-4" ng-if="headerText!=='World'">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <small class="m-0 text-info">
                                            {{headerText}} :
                                            <span class="text-primary">Cases</span> |
                                            <span class="text-danger">Deaths</span> |
                                            <span class="text-success">Recovered</span>
                                        </small>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div id="chart-area">
                                            <canvas id="myAreaChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End of Content Wrapper -->

        <div ng-if="isApiCallInProgress" class="loaderContainer d-none" ng-class="isApiCallInProgress ? 'd-block' : ''">
            <div ng-if="!isApiFailed" class="loader"></div>
            <div ng-if="isApiFailed" ng-class="isApiFailed ? 'd-block' : ''" class="api_error text-center text-light d-none">
                <p>Unable to load Information</p>
                <button class="btn btn-success" ng-click="showOnlyNews(true)">Read News</button>
                <button class="btn btn-primary" ng-click="refreshPage()">Refresh</button>
            </div>
        </div>

        <div class="gotop" id="scrollBtn" ng-click="scrollTop()">^</div>

        <div ng-if="selectedStateData" ng-class="selectedStateData ? 'd-block' : ''" class="loaderContainer d-none">
            <span ng-click="closeModal()" class="closeIcon">X</span>
            <table class="modal-table mt-5">
                <tr class="text-center" ng-init="orderby='-cases'">
                    <th class="w-50 border"> City</th>
                    <th class="w-25 border" ng-click="orderby === 'cases' ? (orderby='-cases') : (orderby='cases')">
                        Cases</th>
                    <th class="w-25 border" ng-click="orderby === 'deaths' ? (orderby='-deaths') : (orderby='deaths')">
                        Deaths</th>
                </tr>
                <tr class="text-center text-black" ng-repeat="cityData in selectedStateData.value.city | orderBy: orderby">
                    <td class="w-50 border"><a class="">{{cityData.name}} </a></td>
                    <td class="w-25 border"><span class="">{{cityData.cases}}</span>
                    </td>
                    <td class="w-25 border"> <span class="">{{cityData.deaths}}</span></td>
                </tr>
            </table>
        </div>

        <div ng-if="showEmergencyContact" ng-class="showEmergencyContact ? 'd-block' : ''" class="loaderContainer d-none">
            <span ng-click="closeEmergencyContact()" class="closeIcon">X</span>
            <small class="d-block text-center text-white mt-1">Helpline Number Toll free: <a class="text-danger"
                    href="tel: 1075">1075 </a>&
                <a class="text-danger" href="tel: +91-11-23978046">+91-11-23978046</a></br> Helpline Email ID : <a
                    class="text-danger" href="mailto: ncov2019@gov.in">ncov2019@gov.in </a>&
                <a class="text-danger" href="mailto: ncov2019@gmail.com">ncov2019@gmail.com</a>
            </small>

            <table class="modal-table mt-2">
                <tr class="text-center" ng-init="orderby='-cases'">
                    <th class="w-50 border"> State</th>
                    <th class="w-25 border">
                        Contact</th>
                </tr>
                <tr class="text-center text-black" ng-repeat="(key,value) in emergencyContactList">
                    <td class="w-50 border"><a class="">{{key}} </a></td>
                    <td class="w-50 border"><span class="">
                            <a ng-repeat="telephoneNumber in value.split(',')"
                                ng-href="tel:{{telephoneNumber}}">{{telephoneNumber}}</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white text-center p-0">
            <small>Data source: <b>corona.lmao.ninja , covindia.com , coronavirus-monitor , mohfw.gov.in</b></br>
                <!-- Start of WebFreeCounter Code -->
                Visitors:
                <img src="https://www.webfreecounter.com/hit.php?id=gumkokac&nd=6&style=15" border="0"
                    alt="visitor counter">
                <!-- End of WebFreeCounter Code -->
                <span>Copyright &copy; Anup Kumar</span>
            </small>
        </footer>
        <!-- End of Footer -->


    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="./vendor/jquery-3.4.1.js"></script>
    <script src="./vendor/angular1.6.9.js"></script>

    <script src="./services/countryData.js"></script>

    <script src="services/chart/Chart.min.js"></script>

    <script src="./services/service.js"></script>
    <script src="./services/stateEmergency.js"></script>
    <script src="map/countrymap.js"></script>
    <!-- <script src="services/chart/chart-pie-demo.js"></script> -->

</body>

</html>