<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Covid 2020</title>

  <!-- Custom fonts for this template-->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" ng-app="myApp" ng-controller="myCtrl">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar-dark accordion" style="width: -webkit-fill-available;"
      ng-class="isCountrySelected ? 'w-0 d-none' : ''" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="text-light border btn btn-primary sidebar-brand d-flex align-items-center justify-content-center"
        ng-click="changeArea(indiaData)">
        India Data
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->

      <input placeholder="Search..." ng-model="searchText"></label>
      <li class="nav-item active">
        <a class="p-0 pl-2" style="color: white; font-size: 10px; cursor: pointer;" ng-click="changeArea('World')">
          <span class="text-dark">World</span>
        </a>
      </li>

      <li class="nav-item active">
        <a class="p-0" style="color: gray; font-size: 12px; cursor: pointer;">
          <table class="w-100">
            <tr class="text-center">
              <th class="w-50 border" ng-click="orderby='country_name'"> Country</th>
              <th class="w-25 border" ng-click="orderby='-cases'">Cases</th>
              <th class="w-25 border" ng-click="orderby='-deaths'"> Deaths</th>
            </tr>
            <tr class="text-center" ng-repeat="country in countryWise | filter:searchText | orderBy: orderby"
              ng-click="changeArea(country)">
              <td class="w-50 border"> <span class="">{{country.country_name}} </span></td>
              <td class="w-25 border"><span class="text-dark">{{country.cases}}</span></td>
              <td class="w-25 border"> <span class="text-danger">{{country.deaths}}</span></td>
            </tr>
          </table>
        </a>
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="" class="d-lg-block w-100" ng-class="isCountrySelected ? '' : 'w-0 d-none'">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between">
            <span ng-click="showCountryList()" class="d-inline-block mr-3" style="cursor:pointer;
            transform: rotate(90deg);
            font-size: 30px;">|||</span>
            <h1 class="h3 mb-0 text-gray-800 d-inline">{{selectedArea}}</h1>
            <pre class="text-muted text-right">Last Updated {{worldData.statistic_taken_at}}</pre>
          </div>

          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 col-sm-6" ng-repeat="data in category">
              <div ng-class='"border-left-" + data.class' class="card shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-center">
                      <div ng-class='"text-" + data.class' class="text-xs font-weight-bold text-uppercase mb-1">
                        {{data.label}}</div>
                      <div class="h3 mb-0 font-weight-bold" ng-class='"text-" + data.class'>{{data.value}}</div>

                      <div ng-if="data.percentage" class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{data.percentage}}%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" ng-style="getStyle(data.percentage)"
                              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">
            <div ng-if="selectedArea === 'India'" class="col-lg-4">
              <table class="w-100 mb-4">
                <tr class="text-center">
                  <th class="w-50 border"> State</th>
                  <th class="w-25 border" ng-click="orderby='-value.totalIndianCases'">Cases</th>
                  <th class="w-25 border" ng-click="orderby='-value.totalDeaths'"> Deaths</th>
                </tr>
                <tr class="text-center" ng-repeat="stateData in indainStateData | orderBy: orderby">
                  <td class="w-50 border"> <span class="">{{stateData.key}} </span></td>
                  <td class="w-25 border"><span class="text-dark">{{stateData.value.totalIndianCases}}</span>
                  </td>
                  <td class="w-25 border"> <span class="text-danger">{{stateData.value.totalDeaths}}</span></td>
                </tr>
              </table>
            </div>

            <!-- Area Chart -->
            <div class="col-lg-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">
                    {{selectedArea === 'World' ? 'Select Country' : selectedArea + ' Total Cases'}}</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-lg-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Casualties</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="chart-pie" class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Anup Kumar</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <div ng-if="isApiCallInProgress" class="loaderContainer">
      <div class="loader"></div>
    </div>


  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="./vendor/jquery-3.4.1.js"></script>
  <script src="./vendor/angular1.6.9.js"></script>

  <script src="./services/countryData.js"></script>

  <script src="services/chart/Chart.min.js"></script>
  <!-- <script src="services/chart/chart-pie-demo.js"></script> -->

</body>

</html>